#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* width: 100vw; */
  /* height: 100vh; */
}

/* .app {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(100vh, 1fr));
} */

/* .project-wrapper {
  grid-row: span 1;
} */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}