.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* height: 100vh; */
  /* width: 100vw; */
  justify-content: center;
  align-items: center;
}

.wrapper button {
  padding: 10px 20px;
  color: #e0e0e0;
  cursor: pointer;
}

.accordion {
  width: 500px;
}

.item {
  background: #333;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.title {
  color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  height: auto;
}